
@{
    ViewBag.Title = "Wachtwoord gewijzigd";
}

<h2>Wachtwoord gewijzigd</h2>

<p class="text-success">Het wachtwoord is gewijzigd</p>

@Html.ActionLink("Ok", "Profiel", "Account",null, new{ @class="btn btn-primary"})