<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Medewerkers", "Medewerkers", "Account")</li>
    <li>@Html.ActionLink("Klanten", "Klanten", "Account")</li>
    <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
    <li>@Html.ActionLink("Applicaties", "Index", "Applicaties")</li>
</ul>
