@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ticketsysteem</h1>
    <p class="lead">Een systeem waar klanten zich kunnen registreren en supportaanvragen (Tickets) kunnen plaatsen. Het systeem bevat beheerpagina's om Tickets, Applicaties, Medewerkers en Klanten te beheren.</p>
    
</div>
